* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*start top-section*/
.top-banner {
    background-image: url(images/top-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 198px 0 200px 0;
}

.container {
    max-width: 1150px;
    display: flex;
    margin: auto;
}

.content {
    width: 810px;
    margin: auto;
    text-align: center;
}

.content h1 {
    padding-bottom: 40px;
    width: 826px;
    color: #ffffff;
    font-size: 65px;
    font-weight: 700;
}

.content p {
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 33px;
}

.content a {
    display: block;
    margin: auto;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    background-color: #FF5959;
    line-height: 50px;
}

/*end top-section*/

/*Start Donate Today*/
.start-donate {
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.donate-here {
    width: 580px;
    height: auto;
    display: flex;
    margin: auto;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 40px;
}

.content2 h2 {
    padding-bottom: 30px;
    color: #121212;
    font-size: 45px;
    font-weight: 700;
}

.content2 p {
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
}

.price-list {
    display: flex;
    width: 766px;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 60px;
}

.first-package {
    background-color: #fafafa;
    height: 123px;
    width: 135px;
    display: flex;
}

.first-package p {
    margin: auto;
    font-size: 30px;
    font-weight: 700;
    color: #707070;
}

.second-package {
    background-color: #fafafa;
    height: 123px;
    width: 135px;
    display: flex;
    border: 2px solid rgb(255, 89, 89);
}

.second-package p {
    margin: auto;
    font-size: 30px;
    font-weight: 700;
    color: #FF5959;
}

.threed-package {
    background-color: #fafafa;
    height: 123px;
    width: 135px;
    display: flex;
}

.threed-package p {
    margin: auto;
    font-size: 30px;
    font-weight: 700;
    color: #707070;
}

.fourth-package {
    background-color: #fafafa;
    height: 123px;
    width: 135px;
    display: flex;
}

.fourth-package p {
    margin: auto;
    font-size: 30px;
    font-weight: 700;
    color: #707070;
}

.five-package {
    background-color: #fafafa;
    height: 123px;
    width: 135px;
    display: flex;
}

.five-package p {
    margin: auto;
    font-size: 30px;
    font-weight: 700;
    color: #707070;
}

.Other-amount {
    max-width: 1150px;
    display: flex;
    margin: auto;

}

.choose-price {
    width: 192px;
    height: 28px;
    margin: auto;
}

.choose-price input {
    color: #b3b3b3;
    font-size: 18px;
    font-weight: 400;
    border: 0;
    padding-bottom: 10px;
}

.horizontal-line {
    width: 762px;
    height: 1px;
    background-color: rgb(175, 175, 175);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px auto 30px auto;

}

.donate-now {
    max-width: 1150px;
    display: flex;
    margin: auto;
}

.donate-now a {
    display: block;
    margin: auto;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    background-color: #FF5959;
    line-height: 50px;
}

/* end donate today*/

/*start our donate plan*/
.our-donation {
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    display: flex;
    margin: auto;
}

.our-donation-plan {
    width: 691px;
    margin: auto;
    text-align: center;
    padding: 130px 0;
}

.all-plan {
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.plan {
    background-color: #edf5f6;
    width: 360px;
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.plan img {
    padding-bottom: 20px;
}

.plan h4 {
    font-size: 24px;
    font-weight: 700;
    color: #0b0d17;
    padding-bottom: 20px;
}

.plan p {
    color: #808080;
    font-weight: 300;
    font-size: 16px;
    width: 315px;
}

/*end our donation plan*/

/*start relief goods*/
.their {
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    display: flex;
    padding-top: 140px;
}

.their-lives {
    width: 1150px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    padding: 80px 0;
}

.depend {
    width: 493px;
    height: 374px;
    margin-right: 80px;

}

.depend h1 {
    font-size: 45px;
    font-weight: 700;
    color: #121212;
}

.depend p {
    color: #808080;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 50px;
}

.depend a {
    display: block;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    background-color: #FF5959;
    line-height: 50px;
}

.want-relief {
    width: 456px;
    height: 477px;
    margin-top: -100px;
}

/*end relif-doods*/

/*start servive*/
.they {
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    display: flex;
}

.they-need {
    width: 1150px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    margin-top: 100px
}

.survive {
    width: 482px;
    height: 374px;
    margin-left: 60px;
    margin-top: 30px;
}

.survive h1 {
    width: 312px;
    font-weight: 700;
    font-size: 45px;
    color: #0b0d17;
    padding-bottom: 20px;
}

.survive p {
    color: #808080;
    width: 482px;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 40px;
}

.survive a {
    display: block;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    background-color: #FF5959;
    line-height: 50px;
}

/*end service*/

/*start get my updates*/
.get-my {
    max-width: 1150px;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin: auto;
}

.updates {
    width: 586px;
    margin: auto;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 40px;
}

.updates h1 {
    color: #121212;
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 20px;
}

/*end get my updates*/

/*start subcribe form*/
.subcribe {
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    display: flex;
}

.form-here {
    margin: auto;
    width: 809px;
    height: auto;
    padding: 90px 188px;
    background-color: #edf5f6;
    margin-bottom: 80px;
}

.input-width {
    width: 400px;
    background-color: #ffffff;
    border: 0;
}

.form-here a {
    display: block;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    background-color: #FF5959;
    line-height: 50px;
}

/*end subcribe form*/

/*start footer*/
footer {
    background-color: #0b0d17;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    width: 100%;
}

.footer-content {
    max-width: 1150px;
    margin: auto;
    display: flex;
}

.be-humble {
    width: 178px;
    height: 92;
    height: 92px;
    margin: auto;
    text-align: center;
}

.be-humble h3 {
    padding-top: 50px;
    color: #ff5959;
    font-size: 36px;
    font-weight: 700;

}

.be-humble p {
    color: #fafafa;
    padding-top: 50px;
    font-size: 16px;
    font-weight: 400;
}

/*end footer*/